body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#heading {
  background: linear-gradient(
    to right,
    rgba(188, 224, 238, 1) 0%,
    rgba(188, 224, 238, 1) 1%,
    rgba(179, 220, 237, 1) 24%,
    rgba(41, 184, 229, 1) 100%
  );
  height: 36px;
}

#container {
  background: linear-gradient(
    to right,
    rgba(210, 255, 82, 1) 0%,
    rgba(145, 232, 66, 1) 100%
  );
  width: 89%;
  margin: auto;
}

#footing {
  background: linear-gradient(
    to right,
    rgba(188, 224, 238, 1) 0%,
    rgba(188, 224, 238, 1) 1%,
    rgba(179, 220, 237, 1) 24%,
    rgba(41, 184, 229, 1) 100%
  );
  height: 36px;
}
